[run]
source = .
branch = true
omit =
    orders/management/*
    */migrations/*
    accounts/birthday_reminder.py
    accounts/generate_birthday_voucher.py
    accounts/management/*
    */tests.py
    */test_*.py
    */tests_*.py
    admin_tests.py
    manage.py
    api/wsgi.py
    api/asgi.py
    .venv/*

[report]
precision = 2
show_missing = true

[xml]
output = coverage.xml