[run]
source = .
branch = true
omit =
    */migrations/*
    */tests.py
    */test_*.py
    admin_tests.py
    manage.py
    api/wsgi.py
    api/asgi.py
    .venv/*

[report]
precision = 2
show_missing = true

[xml]
output = coverage.xml